.container_position{
  width: 50%;
  height: auto;
  margin-top: 10%;
}
.logo_size{
  height: 5vh;
}
.home_background{
  background-image: url("https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-james-wheeler-417074.jpg&fm=jpg");
  position: fixed;
  min-width: 100%;
  min-height:100%;
  background-size: cover;
  background-position: center;
}
.homepage_container{
  display: flex;
  justify-content: center;
  animation: slidingbanner 5s ease infinite;
}
@keyframes slidingbanner{
  0%{
    transform: translateX(10px);
  }
  50%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(10px);
  }
}

.homepage_container img{
  width: 40vh;
  height: 20vh;
  margin-top: 60vh;
  border: 2px solid #f39c12;
  border-radius: 15px;
  box-shadow: 5px 10px 8px #2e2e2e
}